<div [ngSwitch]="mode">
    <template [ngSwitchCase]="'list'">
        <ion-item *ngIf="!query" (click)="presentActionSheet($event)">
            <fl-base [resource]="resource"></fl-base>
            {{resource.name}}
            <ion-buttons right>
                <a (click)="onExpandCmd($event)"><ion-icon royal [name]="expand ? 'arrow-down' : 'arrow-up'"></ion-icon></a>
            </ion-buttons>
            <p>
                <span>{{resource.DefaultUnit?.name}}</span> <mathq right [(ngModel)]="resource.DefaultUnit.Latex"></mathq>
            </p>
        </ion-item>
        <template [ngIf]="expand">
            <fl-unit  *ngFor="let u of resource.Units" [resource]="u"></fl-unit> 
        </template>
    </template>
    <template [ngSwitchCase]="'edit'">
            <form [formGroup]="form" (submit)="edit($event, propertyForm.value)">
	            <ion-list>
	                <ion-item>
                        <ion-label>Name</ion-label>
	                    <ion-input type="text" formControlName="name"></ion-input>
	                </ion-item>
                    <ion-item divider>Default Unit</ion-item>
                    <ion-item>
                        <fl-unit  [mode]="'edit'" [updateButton]="false" [resource]="resource.DefaultUnit"></fl-unit>
                    </ion-item>
	                <ion-item>
	                    <button type="button" name="submit" (click)="edit($event,form.value)" [disabled]="!form.valid || !unitForm || !unitForm.first.form.valid">{{submitButtonName}}</button>
	                </ion-item>
	            </ion-list>
	        </form>
    </template>
</div>
