    <ion-navbar no-border-bottom>
        <ion-buttons start>
            <button *ngIf="menuButton" menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons left>
            <button royal [class.fl-hidden]="!switchButton" [disabled]="!Online" (click)="sync($event)">
                <ion-icon name="sync" ></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-buttons right>
            <button royal [class.fl-hidden]="!addButton" (click)="add($event)">
                <ion-icon name="add"></ion-icon>
            </button>
            <button royal [class.fl-hidden]="!searchButton" (click)="search($event)">
                <ion-icon name="search"></ion-icon>
            </button>
            <button royal [class.fl-hidden]="!moreButton" (click)="more($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar *ngIf="searchBar" (input)="onInput($event)" (onCancel)="onCancel()" [(ngModel)]="searchQuery" [debounce]="searchDelay" [hideCancelButton]=true>
    </ion-searchbar>
    