.users .logo {
  padding: 20px 0;
  max-height: 100px;
  text-align: center;
}


.users .logo img {
  max-width: 80px;
}   

.users button ion-icon{
    padding:20px;
} 


.users button{
    text-transform: none;
} 