    <template [ngIf]="mode == 'list'">
        <ion-item (click)="onSelect($event)">
            <ion-buttons right>
                <a (click)="onEditCmd($event)">
                    <ion-icon royal name="create"></ion-icon>
                </a>
            </ion-buttons>
            <fl-base [resource]="resource"></fl-base>
            <div>
                <span>{{resource.name}}</span><span>(
                <mathq [(ngModel)]="resource.Latex"></mathq>)
                </span>
            </div>
            <div *ngIf="resource.IsDefaultUnit">
                <span>Default unit</span>
            </div>
            <div *ngIf="!resource.IsDefaultUnit">
                <h4>Conversion Formula</h4>
                <div *ngIf=resource.IsFormulaFactor>
                    <span>x  <mathq [(ngModel)]="resource.Latex"></mathq> = <mathq [(ngModel)]="resource.factor"></mathq><mathq [(ngModel)]="resource.Property.DefaultUnit.Latex"></mathq></span>
                </div>
                <div *ngIf=!resource.IsFormulaFactor>
                    <span>1<mathq [(ngModel)]="resource.Latex"></mathq> = <span>{{resource.factor}}</span><mathq [(ngModel)]="resource.Property.DefaultUnit.Latex"></mathq></span>
                </div>
            </div>
        </ion-item>
    </template>
    <template [ngIf]="mode == 'edit'">
        <form [ngFormModel]="form" (submit)="edit($event, form.value)">
            <ion-list>
                <ion-item>
                    <ion-label>Name</ion-label>
                    <ion-input type="text" ngControl="name" [(ngModel)]="resource.name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Description</ion-label>
                    <ion-input type="text" ngControl="description" [(ngModel)]="resource.description"></ion-input>
                </ion-item>
                <div class="item item-input item-select">
                    <div class="item-inner">
                        <ion-label>System</ion-label>
                        <select ngControl="system" [(ngModel)]="resource.system">
                            <option value="SI" selected="">SI unit</option>
                            <option value="cgs unit">CGS</option>
                            <option value="_">Others</option>
                        </select>
                    </div>
                </div>
                <div class="item fl-math">
                    <div class="item-inner">
                        <label>Symbol</label>
                        <div>
                            <div>
                                <mathq [(ngModel)]="resource.Latex"></mathq>
                            </div>
                            <div>
                                <input class="text-input" type="text" ngControl="symbol" [(ngModel)]="resource.Symbol">
                            </div>
                        </div>
                    </div>
                </div>
                <ion-item>
                    <ion-label>Definition</ion-label>
                    <ion-input type="text" ngControl="definition" [(ngModel)]="resource.definition"></ion-input>
                </ion-item>
                <template [ngIf]="!resource.IsDefaultUnit">
                    <div class="item">
                        <div class="item-inner">
                            <ion-label>Conversion</ion-label>
                            <div>
                                <span>x  <mathq [(ngModel)]="resource.Latex"></mathq> = <mathq [editable]="true" ngControl="factor" [(ngModel)]="resource.factor"></mathq><mathq [(ngModel)]="resource.Property.DefaultUnit.Latex"></mathq></span>
                            </div>
                        </div>
                    </div>
                    <ion-item>
                        <ion-label>Approximate</ion-label>
                        <ion-checkbox dark ngControl="approx" [(ngModel)]="resource.approx"></ion-checkbox>
                    </ion-item>
                </template>
                <ion-item *ngIf="updateButton">
                    <button type="button" name="submit" (click)="edit($event,form.value)" [disabled]="!form.valid">{{submitButtonName}}</button>
                </ion-item>
            </ion-list>
        </form>
    </template>
