<ion-content>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons right>
            <button royal (click)="dismiss($event)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <div [ngSwitch]="option">
        <template [ngSwitchCase]="'login'">
            <form [formGroup]="login" (submit)="doLogin($event, login.value)">
                <ion-list>
                    <ion-item>
                        <ion-label stacked>Emailid</ion-label>
                        <ion-input type="text" formControlName="emailId"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>Password</ion-label>
                        <ion-input type="password" formContrlName="pwd" ></ion-input>
                    </ion-item>
                    <ion-item>
                        <button type="submit" [disabled]="!login.valid">Login</button>
                        <button (click)="option='forgot'">Forgot Password</button>
                    </ion-item>
                </ion-list>
            </form>
            <ion-list>
                <ion-item>
                    <button class="button button-block button-positive" (click)="option ='register'">Register</button>
                </ion-item>
                <ion-item>
                    <button class="button button-block button-positive" (click)="oauthlogin('facebook')">Facebook Login</button>
                </ion-item>
                <ion-item>
                    <button class="button button-block button-assertive" (click)="oauthlogin('google')">Google Login</button>
                </ion-item>
            </ion-list>
        </template>

        <template [ngSwitchCase]="'register'">
            <form [formGroup]="register" (submit)="doRegister($event, register.value)">
                <ion-item>
                    <ion-label stacked>Emailid</ion-label>
                    <ion-input type="text" formControlName="emailId" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Password</ion-label>
                    <ion-input type="password" formControlName="pwd"></ion-input>
                </ion-item>
                <ion-item>
                    <button block type="submit" [disabled]="!register.valid">Register</button>
                </ion-item>
            </form>
        </template>
        <template [ngSwitchCase]="'forgot'">
            <form [formGroup]="forgot" (submit)="doForgot($event, forgot.value)">
                <ion-item>
                    <ion-label stacked>Emailid</ion-label>
                    <ion-input type="text" formControlName="emailId"></ion-input>
                </ion-item>
                <ion-item>
                    <button block type="submit" [disabled]="!forgot.valid">Submit</button>
                </ion-item>
            </form>
        </template>
        <template [ngSwitchCase]="'chpwd'">
            <form [formGroup]="chpwd" (submit)="doChpwd($event, chpwd.value)">
                <ion-item>
                    <ion-label stacked>Password</ion-label>
                    <ion-input type="password" formControlName="pwd"></ion-input>
                </ion-item>
                <ion-item>
                    <button block type="submit" [disabled]="!chpwd.valid">Submit</button>
                </ion-item>
            </form>
        </template>
        <template [ngSwitchCase]="'settings'">
            <form [formGroup]="settings" (submit)="doSettings($event, settings.value)">
                <ion-item>
                    <ion-label stacked>Default System</ion-label>
                    <ion-input type="text" formControlName="system"></ion-input>
                </ion-item>
                <ion-item>
                    <button block type="submit" [disabled]="!settings.valid">Submit</button>
                </ion-item>
            </form>
        </template>
        <template [ngSwitchCase]="'about'">
            <ion-card>
                <p>
                    TestLab is an application for create, edit, browse standard and custom formulas with units. The formulas can be input with values to find the result.
                </p>
            </ion-card>
        </template>
        <template [ngSwitchCase]="'error'">
            <ion-list>
                <ion-item>
                    <ion-label stacked>{{errorInfo.common_message}}</ion-label>
                </ion-item>
                <template [ngIf]="hasFieldErrors()">
                    <ion-item *ngFor="let f of getErrorFields()">
                        <h1>{{f}}</h1>
                        <p *ngFor="let e of getMessagesForField(f)">
                            {{e}}
                        </p>
                    </ion-item>
                </template>
                <ion-item>
                    <button class="button button-block button-positive" (click)="dismiss($event)">Ok</button>
                </ion-item>
            </ion-list>
        </template>
        <template [ngSwitchCase]="'progress'">
            <ion-list>
                <ion-item>
                    <ion-label stacked>{{message}}</ion-label>
                </ion-item>
            </ion-list>
        </template>
    </div>
</ion-content>
