.all-modals .logo {
  padding: 20px 0;
  max-height: 100px;
  text-align: center;
}


.all-modals .logo img {
  max-width: 80px;
}   

.all-modals button ion-icon{
    padding:20px;
} 


.all-modals button{
    text-transform: none;
} 