<div [ngSwitch]="mode">
    <template [ngSwitchCase]="'list'">
        <ion-item-divider *ngIf="index == 0" danger>
              Syncronizing Errors
        </ion-item-divider>
        <ion-item  (click)="onClick($event)">
            <div>
                <span>{{resource.name}}</span>
                <span>(<mathq [(ngModel)]="resource.symbol"></mathq>)</span>
            </div>
            <div>
                <span>{{resource.value}}</span>
            </div>
        </ion-item>
        <ion-item-divider *ngIf="last" danger>
          <button item-right outline light>Hide</button>
        </ion-item-divider>
    </template>
    <template [ngSwitchCase]="'row'">
        <ion-row (click)="onClick($event)">
            <ion-col >
                <span>{{resource.name}}</span>
            </ion-col>
            <ion-col >
                <span><mathq [(ngModel)]="resource.symbol"></mathq></span>
            </ion-col>
            <ion-col>
                <span>{{resource.value}}</span>
            </ion-col>
            <ion-col>
                <fl-unit-sel [(ngModel)]="resource.Measure" [mode]='list'></fl-unit-sel>
            </ion-col>
        </ion-row>
    </template>
    <template [ngSwitchCase]="'edit'">
        <!--{{error('measure')}}        -->
        <form [formGroup]="form" (submit)="edit($event)">
            <ion-list>
                <ion-item>
                    <ion-label>Name</ion-label>
                    <ion-input type="text" formControlName="name" [(ngModel)]="resource.name"></ion-input>
                </ion-item>
                <fb-error [fcontrol]="form.controls.name"></fb-error>
                <ion-item>
                    <ion-label>Symbol</ion-label>
                    <mathq [editable]="true"  item-right formControlName="symbol" [(ngModel)]="resource.symbol"></mathq>
                </ion-item>
                <fb-error [fcontrol]="form.controls.symbol"></fb-error>
                <ion-item>
                    <ion-label>Value</ion-label>
                    <ion-input type="text" formControlName="value" [(ngModel)]="resource.value"></ion-input>
                </ion-item>
                <fb-error [fcontrol]="form.controls.measure"></fb-error>
                <ion-item>
                        <ion-label>Measure</ion-label>
                        
                        <fl-unit-sel item-right  formControlName="measure" [(ngModel)]="resource.Measure" [mode]="'edit'"></fl-unit-sel>
                        
                </ion-item>
                <fb-error [fcontrol]="form.controls.measure"></fb-error>
                <ion-item>
                    <button ion-button type="button" name="submit" (click)="edit($event,form.value)" [disabled]="!form.valid">{{submitButtonName}}</button>
                </ion-item>
            </ion-list>
        </form>
    </template>
</div>
